body {
  background-color: POWDERBLUE
}

hr {
  background-color: POWDERBLUE;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-top-width: 10px;
  width: 20%;
}

h1 {
  color: #7DCE13;
}

h3 {
  color: #16213E;
}

h2 {
  color: #16213E;
}
